html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}

/*Here's the project*/

body {
    background-color: #2a2a72;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.section-container{
	max-width: 320px;
	width: 100%;
	padding: 10px;
	margin: 10px;
}

.search-user {
    border-radius: 10px;
    border: none;
    background-color: #4c2885;
    color: #fff;
    padding: 16px;
	width: 100%;
	font-size: 20px;
}
.search-user:focus{
	outline: none; 
	
}

.info-container {
	display: flex;
    flex-direction: column;
    align-items: center;
	color: white;
	max-width: 800px;
	width: 100%;
	background-color: #4c2885;
	border-radius: 20px;
	padding: 26px;
}

.user-details {
	display: flex;
	justify-content: center;
	
}

.user-photo {
	width: 150px;
	height: 150px;
	border: 10px solid #2a2a72;
	border-radius: 50%;
}

.user-info {
	display: flex;
	gap: 5px;
}

.user-info p {
	display: flex;
	align-items: center;
}

h1 {
	font-weight: bold;
	font-size: 20px;
}

span {
	font-weight: bold;;
}

.repos a{
	margin: 0 20px;
	color: white;
	text-decoration: none;
	background-color: #212a72;
	font-size: 14px;
	padding: .25rem .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    display: inline-block;
}